* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #333;
  background: #6c5ce7;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow-x: hidden; /* add this line */
}

.container {
  padding: 0 20px;
  text-align: center;
}

section h2 {
  font-size: 2em;
  color: #FFF;
  margin-top: 50px;
}

footer {
  color: #FFF;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

footer p {
  margin: 0;
}

#logo {
  width: 500px;
  height: auto;
  max-width: 90%; /* add this line */
}